<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/admin.css">
</head>

<body>
    <div id="app" class="container">
        {{{ body }}}
    </div>
    <script src="/admin.bundle.js"></script>
</body>

</html>