<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="bootstrap.css">
</head>

<body>
	<div id="app" class="container">
		{{{ body }}}
	</div>
	<script src="build.js"></script>
</body>

</html>