<div class="row ml-auto">
    <h2>Home da dashboard</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus at non iure dolorem. Sit eius odit fugit
    impedit, ipsum quam. Quos consequatur eius eaque. Natus mollitia autem architecto corporis hic!
</div>
<hr>